*{
    margin: 0;
    box-sizing: border-box; 
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;  
}
body{
    height: 5000px;   
}
.box-menu{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right,rgb(255, 183, 0),rgb(0, 255, 234),rgb(255, 192, 251));
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    position:sticky;
    top: 0px;
    z-index: 99;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 18px;
    text-decoration: none;
    padding: 19px;
}
.menu a:hover{
    border-bottom: 2px solid black;
    background-color: rgb(248, 248, 139);
}
.logo img{
    width: 70px;
}
.search{
    display: flex;
    align-items: center;
}
.search i{
    font-size: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search i:hover{
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.427);
}
.box-search{
    background-color: aliceblue;
    padding: 5px 10px;
    width: fit-content;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-search:hover{
    background-color: antiquewhite;
}
.box-search input{
    width: 90px;
    background: none;
    border: none;
    outline: none;
    padding: 0px 5px;
}
.box-search i{
    color: rgb(72, 72, 72);
    margin: 0;
    font-size: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for_sw{
    text-decoration: none;
}
.some-word{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
}
.some-word h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: black;
    width: 500px;
    text-align: center;
    line-height: 70px;
    margin: 25px 0px;
}
.some-word p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}
.option{
    width: 100%;
    display: flex;
    justify-content: center;
}
.op{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    margin: 0px 10px;
    color: aliceblue;
    padding: 6px 25px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.title{
    width: 95%;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.box-happening{
    width: 95%;
    margin: 10px auto;
    background-color: black;
    display: flex;
    height: 505px;
}
.news{
    width: 50%;
    padding: 0px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.news h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 70px;
    margin: 20px 0px;
}
.news p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 55%;
    font-size: 18px;
}
.news a:hover{
    background-color: aqua;
}
.news a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 120px;
    height: 40px;
    background-color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
    height: 505px;
}
.box-featured{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.featured{
    width: 49.5%;
    height: 550px;
    background-color: aquamarine;
    overflow: hidden;
    position: relative;
}
.featured img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    transition: all 1s; 
}
.cover{
    width: 100%;
    height: 110%;
    position: absolute;
    background-color: rgba(105, 102, 102, 0.209);  
    top: 0;
}
.featured p{
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 130px;
    left: 50px;
    font-size: 22px;
}
.featured a{
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: black;
    padding: 8px 30px;
    background-color: white;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.featured:hover img{
    transform: scale(1.05);
}
.featured a:hover{
    background-color: rgb(216, 219, 223);
}
.featured .top-title{
    bottom: 160px;
    font-size: 18px;
}
.member-ship{
    width: 95%;
    display: flex;
    margin: 20px auto;
    overflow: auto;
}
.member{
    min-width:500px;
    height: 700px;
    position: relative;  
    overflow: hidden;
    margin-right: 20px;  
} 
.member img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.member p{
    position: absolute;
}
.member .top-title-m{
    bottom: 150px;
    left: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.member .title-m{
    bottom: 120px;
    left: 50px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.member a{
    font-size: 17px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: black;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;  
} 
.member a:hover{
    background-color: rgb(209, 214, 218);
}
.member:hover img{
    transform: scale(1.05);
}
.box-best-sell{
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.best-product{
    width: 32%;
    height: 300px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.16),rgba(0,0,0,0.436));
    border-radius: 30px;
    padding: 20px;
    display: flex;
}
.info-bp,.img-bp{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;    
     
}
.img-bp img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.info-bp p:nth-child(1){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 0px;
    font-size: 20px;
    color: red;
}
.info-bp p:nth-child(2){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 10px 0px;
}
.info-bp p:nth-child(3){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: gray; 
    margin-bottom:40px;
}
.info-bp p:nth-child(4){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(80 ,82, 81);
    margin-bottom: 5px;
}
.info-bp p:nth-child(5){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(0 , 0, 0, 0.772);
}
.order{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.order a{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.075),rgba(0, 0, 0, 0.401));
    padding: 8px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
}
.best-product:hover img{
    transform: scale(1.1);
}
.order a:hover{
    background-color:rgba(0, 0, 0, 0.778) ;
}
.b-c-r{
     background-image: linear-gradient(to right,rgba(255, 0, 0, 0.059),rgba(255, 0, 0, 0.419));
}
.b-c-r a{
    background-image: linear-gradient(to right,rgba(255, 0, 0, 0.183),rgba(255, 0, 0, 0.498));
}
.b-c-r a:hover{
    background-color: rgba(255, 0, 0, 0.691);
}

.b-c-r1{
     background-image: linear-gradient(to right,rgba(130, 225, 117, 0.183),rgba(93, 229, 19, 0.626));
}
.b-c-r1 a{
    background-image: linear-gradient(to right,rgba(116, 255, 2, 0.34),rgba(117, 247, 4, 0.788));
}
.b-c-r1 a:hover{
    background-color: rgba(58, 197, 20, 0.733);
}

.box-cs{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}
.c-product{
    width:22%;
    height: 400px;
    background-color: rgba(149, 235, 149, 0.42);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.279);
    transition: all 0.5s;
    margin: 0px 15px;
    
}
.c-image{
    width: 100%;
    height: 65%;
    border-radius: 30px;
    overflow: hidden;
}
.c-image img{
    width: 100%;
    object-position: 0px -60px;
}
.c-info{
    width: 100%;
}
.c-title,.c-sub-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.c-title p,.c-title del{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c-title del{
    color: red;
}
.c-sub-title p:nth-child(1){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
}
.c-sub-title p:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.c-product a{
    background-image: linear-gradient(to right,rgba(138, 241, 53, 0.242),rgba(117, 247, 4, 0.858));
    padding: 10px 60px;
    border-radius: 30px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.c-product a:hover{
    background-color: rgba(62, 231, 15, 0.733);
}
.c-product:hover{
    transform: translateY(-15px);
    box-shadow: 5px 19px 20px rgba(0, 0, 0, 0.279);
    scale: 1.03;   
}
.c-product:nth-child(2){
    background-color: rgba(231, 227, 227, 0.902);
}
.c-product:nth-child(2) a{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.075),rgba(0, 0, 0, 0.401));
}
.c-product:nth-child(2) a:hover{
    background-color: rgb(118, 112, 112);
}
.c-product:nth-child(3){
    background-color: rgba(124, 203, 230, 0.397);
}
.c-product:nth-child(3) a{
    background-image: linear-gradient(to right,rgba(152, 222, 236, 0.628),rgba(36, 215, 218, 0.715));
}
.c-product:nth-child(3) a:hover{
    background-color: rgb(5, 187, 238);
}
.c-product:nth-child(4){
    background-color: rgba(244, 106, 193, 0.192);
}
.c-product:nth-child(4) a{
    background-image: linear-gradient(to right,rgba(244, 133, 196, 0.445),rgba(242, 15, 151, 0.829));
}
.c-product:nth-child(4) a:hover{
    background-color: rgb(248, 10, 157);
}
.c-product:nth-child(5){
    background-color: rgba(214, 106, 244, 0.192);
}
.c-product:nth-child(5) a{
    background-image: linear-gradient(to right,rgba(226, 133, 244, 0.445),rgba(208, 15, 242, 0.829));
}
.c-product:nth-child(5) a:hover{
    background-color: rgb(193, 10, 248);
}
.box-shoes{
    width: 95%;
    background-image: linear-gradient(to right,rgba(152, 222, 236, 0.628),rgba(244, 133, 196, 0.445),rgba(226, 133, 244, 0.445));
    border-radius: 20px;
    overflow: auto;
    margin: 10px auto;
    padding: 20px;
    display: flex;
}
.shoes{
    min-width: 16%;
    max-width: 12%;
    height: 230px;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.shoes img{
    width: 100%;
    height: 100%;
    transition: all 0.5s; 
}
.shoes p:nth-child(2){
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    width: 90%;
    color: rgb(41, 40, 40);
}
.shoes p:nth-child(3){
    position: absolute;
    top: 75px;
    left: -300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 70%;
    color: aliceblue;
    transition: all 0.5s;
    background-color:blue;
    text-align: end;
    padding-right: 60px;
    clip-path: polygon(0% 0%, 75% 0%, 83% 49%, 75% 100%, 0% 100%);
}
.shoes a{
    position: absolute;
    bottom: -50px;
    left: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 60px;
    border-radius: 30px; 
    transition: all 0.5s;
    background-image: linear-gradient(to right,rgba(244, 233, 133, 0.445),rgba(242, 238, 15, 0.829));
}
.shoes a:hover{
    background-color: rgba(237, 237, 22, 0.943);
}
.shoes:hover p:nth-child(3){
    left: -40px;
}
.shoes:hover a{
    bottom: 8px;
}
.shoes:hover img{
    transform: scale(1.1);
}
.shoes1{
    min-width: 16%;
    max-width: 12%;
    height: 230px;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.shoes1 img{
    width: 100%;
    height: 100%;
    transition: all 0.5s; 
}
.shoes1 p:nth-child(2){
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    width: 90%;
    color: rgb(41, 40, 40);
}
.shoes1 p:nth-child(3){
    position: absolute;
    top: 75px;
    left: -300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 70%;
    color: aliceblue;
    transition: all 0.5s;
    background-color:blueviolet;
    text-align: end;
    padding-right: 60px;
    clip-path: polygon(0% 0%, 75% 0%, 83% 49%, 75% 100%, 0% 100%);
}
.shoes1 a{
    position: absolute;
    bottom: -50px;
    left: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 60px;
    border-radius: 30px; 
    transition: all 0.5s;
    background-image: linear-gradient(to right,rgba(244, 133, 196, 0.445),rgba(242, 15, 151, 0.829));
}
.shoes1 a:hover{
    background-color: rgba(239, 11, 235, 0.989);
}
.shoes1:hover p:nth-child(3){
    left: -40px;
}
.shoes1:hover a{
    bottom: 8px;
}
.shoes1:hover img{
    transform: scale(1.1);
}
.shoes2{
    min-width: 16%;
    max-width: 12%;
    height: 230px;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.shoes2 img{
    width: 100%;
    height: 100%;
    transition: all 0.5s; 
}
.shoes2 p:nth-child(2){
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    width: 90%;
    color: rgb(41, 40, 40);
}
.shoes2 p:nth-child(3){
    position: absolute;
    top: 75px;
    left: -300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 70%;
    color: aliceblue;
    transition: all 0.5s;
    background-color:gold;
    text-align: end;
    padding-right: 60px;
    clip-path: polygon(0% 0%, 75% 0%, 83% 49%, 75% 100%, 0% 100%);
}
.shoes2 a{
    position: absolute;
    bottom: -50px;
    left: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 60px;
    border-radius: 30px; 
    transition: all 0.5s;
    background-image: linear-gradient(to right,rgba(152, 222, 236, 0.628),rgba(36, 215, 218, 0.715));
}
.shoes2 a:hover{
    background-color: rgba(11, 235, 239, 0.989);
}
.shoes2:hover p:nth-child(3){
    left: -40px;
}
.shoes2:hover a{
    bottom: 8px;
}
.shoes2:hover img{
    transform: scale(1.1);
}
.footer{
    width: 100%;
    /* height: 500px; */
    background-color: black;
    padding-top: 50px;
    margin-top: 50px;
}
.main-footer{
    width: 80%;
    margin: 0px auto;
    display: flex;
}
.info-footer{
    width: 80%;
    display: flex;
}
.text-footer{
    width: 25%;
}
.text-footer ul{
    list-style: none;
}
.text-footer li{
    margin-bottom: 17px;
}
.text-footer:nth-child(1) a,.text-footer li:nth-child(1) a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.text-footer:not(:nth-child(1)) a{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: gray;
}
.icon-footer{
    width: 20%;
    display: flex;
    justify-content: end;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    font-size: 33px;
    margin-left: 10px;
}
.last-footer{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: end;
}
.last-footer ul{
    list-style: none;
    display: flex;
}
.last-footer li{
    margin-left: 30px;
}
.last-footer a{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.box-s{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.box-s ul{
    list-style: none;
    display: flex; 
}
.box-s li{
    padding: 18px;
    list-style: none; 
}
.box-s a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-size: 15px;
}

